.date {
  font-size: xx-large;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #6ACEE5;
}
.col-lg-9 {
  width: 100%;
}
.datum {
  display: flex;
  margin-bottom: 3%;
}
.chart-pie {
  width: 45%;
}
#piechart {
  width: auto !important;
}
.first-charts {
  display: flex;
  justify-content: space-around;
  padding-left: 3%;
  padding-right: 3%;
}
.vrijemehdr {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.charts {
  display: flex;
  justify-content:space-around;
  padding-left: 3%;
  padding-right: 3%;
}
.info-part {
  display: inline;
  font-size: large;
}
.chart{
  height: 300px;
  width: 100%;
}
canvas{
  width:100%;
}
body {
  overflow: hidden;
}
.spino {
  display: flex;
}
.airesponse {
  border: 1px solid #6ACEE5;
  border-radius: 20px;
  padding: 30px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.charts2 {
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}
.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.charts-section {
  text-align: center;
}
.fa-clock-o {
  color: #6ACEE5;
}
.fa-percent {
  color: #6ACEE5;
}
.vrijemetxt {
  text-align: center;
}
.sittingtimechart {
  margin-left: auto;
  margin-right: auto;
}
#vrijeme {
  margin-left: auto;
  margin-right: auto;
}
/*@media (max-width: 1250px) {*/
/*  .chart{*/
/*    height: 300px;*/

/*    width: 400px;*/
/*  }*/
/*}*/

/*@media (max-width: 1000px) {*/
/*  .chart{*/
/*    height: 300px;*/

/*    width: 400px;*/
/*  }*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .chart{*/
/*    width: 100%;*/
/*  }*/
/*}*/

.red{
  background-color: red;

}

.white{
  color: white;
}


.container {
  display: flex;
}

.left-div {
  width: 100px;
  height: 250px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.middle-container {
  display: flex;
  flex-direction: column;
}

.middle-div {
  width: 150px;
  height: 125px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border:1px solid red;
}

.right-div {
  width: 100px;
  height: 250px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 855px) {
  body {
    overflow: hidden;
  }
  .datum {
    justify-content: space-between ;
  }
  .date {
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .picker {
    margin-top: auto;
    margin-bottom: auto;
  }
  .info-part {
    font-size: medium;
  }
  .spinoimg {
    width: 35%;
  }
  .btn-dark {
    display: none;
  }
  .spinoslika {
    width: 100%;
  }
  .aipart {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .airesponse {
    max-width: 65%;
    padding: 2%;
  }
  .airesponse h3 {
    font-size: medium;
  }
  .airesponse p {
    font-size: small;
  }
  #content {
    padding: 1% !important;
  }
  .charts {
    flex-direction: column;
  }
  .charts2 {
    flex-direction: column;
  }
  .chart-pie{
    width: 70%;
  }
}

/*.heatmap {*/
/*}*/

/*.prvi, .peti, .sredina {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  text-align: center;*/
/*  color: white;*/
/*  font-weight: bold;*/
/*}*/

/*.prvi {*/
/*  height: 300px;*/
/*  width: 100px;*/
/*  background-color: rgb(155, 0, 0);*/
/*  display: inline-block;*/
/*  vertical-align: top;*/
/*}*/

/*.peti {*/
/*  height: 300px;*/
/*  width: 100px;*/
/*  background-color: rgb(155, 0, 0);*/
/*  display: inline-block;*/
/*  vertical-align: top;*/
/*}*/

/*.sredinaDiv {*/
/*  display: inline-block;*/
/*  vertical-align: top;*/
/*  box-sizing: border-box;*/
/*}*/

/*.sredina {*/
/*  height: 100px;*/
/*  width: 200px;*/
/*  background-color: rgb(160, 0, 0);*/
/*}*/
/*.krajnji{*/
/*  margin-top: 50%;*/
/*}*/


/*.prvi{*/
/*  height: 300px;*/
/*  width:100px;*/
/*  background-color: rgb(255, 0, 0);*/
/*  display: inline-block;*/
/*}*/
/*.peti{*/
/*  height: 300px;*/
/*  width:100px;*/
/*  background-color: rgb(200, 0, 0);*/
/*  display: inline-block;*/
/*  box-sizing: border-box;*/

/*}*/
/*.sredinaDiv{*/
/*  display: inline-block;*/
/*  box-sizing: border-box;*/
/*}*/
/*.sredina{*/
/*  height: 100px;*/
/*  width: 200px;*/
/*  background-color: rgb(160, 0, 0);*/
/*}*/
